In [1]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np

In [2]:
driver = webdriver.Chrome(ChromeDriverManager().install())

[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/89.0.4389.23/chromedriver_mac64.zip

[WDM] - Driver has been saved in cache [/Users/aydin/.wdm/drivers/chromedriver/mac64/89.0.4389.23]

In [3]:
driver.implicitly_wait(10)

In [4]:
monat_list = ['January','February','March','April','May','June','July','August','September','October','November','December']
my_list = []
day_list = []
for i in monat_list:
    for j in range(1,32):
    
        if i in ['January','March','May','July','August','October','December']:
            path = i + "_" + str(j)
            path = "https://en.wikipedia.org/wiki/" + path
            driver.get(path)
            a = driver.find_element_by_xpath('//*[@id="mw-content-text"]')
            a = a.text
            a = a[a.find('Births[edit]'): a.rfind('Deaths')]
            my_list.append(a)
            day = i + " " + str(j)
            day_list.append(day)
        elif (i in ['April','June','September','November']) and (j < 31):
            path = i + "_" + str(j)
            path = "https://en.wikipedia.org/wiki/" + path
            driver.get(path)
            a = driver.find_element_by_xpath('//*[@id="mw-content-text"]')
            a = a.text
            a = a[a.find('Births[edit]'): a.rfind('Deaths')]
            my_list.append(a)
            day = i + " " + str(j)
            day_list.append(day)
        elif (i == 'February') and (j<30):
            path = i + "_" + str(j)
            path = "https://en.wikipedia.org/wiki/" + path
            driver.get(path)
            a = driver.find_element_by_xpath('//*[@id="mw-content-text"]')
            a = a.text
            a = a[a.find('Births[edit]'): a.rfind('Deaths')]
            my_list.append(a)
            day = i + " " + str(j)
            day_list.append(day)

In [5]:
df = pd.DataFrame(zip(my_list, day_list), columns=['data','date'])

In [6]:
df.head()

                                                data       date
0  Births[edit]\nPre-1600[edit]\n766 – Ali al-Rid...  January 1
1  Births[edit]\nPre-1600[edit]\n869 – Yōzei, Jap...  January 2
2  Births[edit]\nPre-1600[edit]\n106 BC – Cicero,...  January 3
3  Births[edit]\nPre-1600[edit]\n659 – Ali ibn Hu...  January 4
4  Births[edit]\nPre-1600[edit]\n1209 – Richard, ...  January 5

In [7]:
df_ = pd.DataFrame(columns=['data','date'])
c = 0
for i in df.date:
    a = df[df.date == i]
    mylist = a['data'][c].split('\n')
    dlist = ((i + "  ")*len(mylist)).split('  ')[:-1]
    f = pd.DataFrame(zip(mylist, dlist), columns=['data','date'])
    df_ = pd.concat([df_, f],ignore_index=True)
    c +=1

In [8]:
df_

                                                    data         date
0                                           Births[edit]    January 1
1                                         Pre-1600[edit]    January 1
2      766 – Ali al-Ridha (d. 818) 8th Imam of Twelve...    January 1
3                 1431 – Pope Alexander VI (d. 1503)[98]    January 1
4      1449 – Lorenzo de' Medici, Italian politician ...    January 1
...                                                  ...          ...
76260       1991 – Noelle Stevenson, American cartoonist  December 31
76261          1992 – Amy Cure, Australian track cyclist  December 31
76262         1992 – Karl Kruuda, Estonian racing driver  December 31
76263         1995 – Gabby Douglas, American gymnast[17]  December 31
76264                                                     December 31

[76265 rows x 2 columns]

In [9]:
df_['year']=df_.data.apply(lambda x: x.split(" – ")[0] if len(x.split(" – "))>1 else np.NaN )

In [10]:
df_

                                                    data         date  year
0                                           Births[edit]    January 1   NaN
1                                         Pre-1600[edit]    January 1   NaN
2      766 – Ali al-Ridha (d. 818) 8th Imam of Twelve...    January 1   766
3                 1431 – Pope Alexander VI (d. 1503)[98]    January 1  1431
4      1449 – Lorenzo de' Medici, Italian politician ...    January 1  1449
...                                                  ...          ...   ...
76260       1991 – Noelle Stevenson, American cartoonist  December 31  1991
76261          1992 – Amy Cure, Australian track cyclist  December 31  1992
76262         1992 – Karl Kruuda, Estonian racing driver  December 31  1992
76263         1995 – Gabby Douglas, American gymnast[17]  December 31  1995
76264                                                     December 31   NaN

[76265 rows x 3 columns]

In [11]:
df_.data = df_.data.apply(lambda x: x.split(" – ")[1] if len(x.split(" – "))>1 else np.NaN )

In [12]:
df_.dropna(inplace=True)

In [13]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74686 entries, 2 to 76263
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    74686 non-null  object
 1   date    74686 non-null  object
 2   year    74686 non-null  object
dtypes: object(3)
memory usage: 2.3+ MB

In [14]:
df_[(df_['date'] == 'November 12') & (df_['year']=='1992')]

                                              data         date  year
65946       Trey Burke, American basketball player  November 12  1992
65947  Adam Larsson, Swedish ice hockey player[25]  November 12  1992

In [15]:
#df_.to_csv('data.csv')